<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/oops.css')%>" media="screen" title="no title" charset="utf-8">

    <title>Woops</title>
  </head>
  <body>
    <h1>It looks like the company that you entered hasn't registered yet. If you want to take that leap--or know someone who should sign your company up--just visit <a href="/company/signup">this page.</a>
      </h1>
      <h2>Think this is a mistake? Contact support@tooltracker.com</h2>
  </body>
</html>
