<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/oops.css')%>" media="screen" title="no title" charset="utf-8">

    <title>Woops</title>
  </head>
  <body>
    <h1>Sorry, it looks like <%=@company.name%> hasn't registered this email address. Please contact the administrator, <%=@company.contact_name%>, at <%=@company.email%> and ask him/her to add an account for you.</h1>
    <br></br>
    <h1><a href="/">home</a>
  </body>
</html>
