<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/tool_show.css')%>" media="screen" title="no title" charset="utf-8">
    <title>Delete Account</title>
  </head>
  <body>

<h1>You're about to send this tool into the far reaches of the internet's garbage can. <br></br>If you continue, all of its information will be permanently lost.</h1>


<h1>Click at your own discretion:</h1>


<h1><a class="delete_box" href="/tools/confirm-delete/<%=@tool.id%>">DELETE THIS TOOL</a></h1>



</body>
</html>
