
html {
  background: url("./assets/pencils_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1 {
  color: white;
  font-family: Helvetica;
}

#title_heading {
  font-size: 4em;
}

#add_tool {
  color: #FFEB3B;
  padding-left: 5%;
  margin-top: 1%;
}

.title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.add_equipment {
  width: 35%;
  border: 5px solid #FFEB3B;
  border-radius: 2px;
  display: inline-block;
  background: url("./assets/hexabump.png");

  float: left;
  margin-left: 10%;
}

.add_equipment form {
  padding-left: 5%;
  padding-bottom: 5%;
  color: #FFEB3B;
  font-size: 1.5em;
}

.add_employee {
  width: 35%;
  border: 5px solid #66BB6A;
  border-radius: 2px;
  display: inline-block;
  float: left;
  margin-left: 10%;
  background: url("./assets/hexabump.png");

}

.add_employee form {
  padding-left: 5%;
  padding-bottom: 5%;
  font-size: 1.5em;
  color: #66BB6A;
}

#add_employee {
  color: #66BB6A;
  padding-left: 5%;
  margin-top: 1%;
}


form {
width: 25%;
font-family: Helvetica;
}

h2 {
  font-family: Helvetica;
  clear: both;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}


#checked_out_tools td{
  border: 5px solid #FFEB3B;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2em;
  background: url("./assets/hexabump.png");
  color: white;
}

#checked_out_tools th {
  border: 5px solid #FFEB3B;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2em;
  color: black;
  background: #FFEB3B;

}

#available_tools td {
  border: 5px solid #66BB6A;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2em;
  background: url("./assets/hexabump.png");
  color: white;
}

#available_tools th{
  border: 5px solid #66BB6A;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2em;
  color: black;
  background: #66BB6A;

}

td:hover {
background: #EEEEEE;
}

.tool_list {
  margin: 0 auto;
  width: 50%;
  display: table;
}

.center_row {
  width: 100%;
  display: block;
  margin-top: 5%;
}

.table_title {
  color: #EEEEEE;
  text-align: center;
}

.bottom-row {
  margin-top: 5%;
}

.tools_heading {
  margin-top: 10%;
}

#black_h1 {
  color: black;
  text-align: center;

}

a {
  color: #9E9E9E;
}

.logout {
  width: 100%;
  position: fixed;
}

h3 {
  float: right;
  margin-right: 3%;
}

h3 a {
  float: right;
  color: white;
  margin: 0;
}

#last_table {
  margin-bottom: 5%;
}
