html {
  background: url("./assets/pencils_1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Helvetica;
}

form {
  margin-top: 5%%;
}

label {
  font-family: Helvetica;
  font-size: 2em;
  color: black;
}

input {
  font-family: Helvetica;
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  width: 50%;
}

th {
  font-family: Helvetica;
  font-size: 2em;
  color: black;
  padding-left: 3%;
  padding-right: 3%;
  border: 5px solid white;
  text-align: center;
}

td {
  font-family: Helvetica;
  font-size: 1.5em;
  color: black;
  border: 5px solid white;
}

h1 {
  font-family: Helvetica;
  color: white;
  font-size: 3em;
  margin-top: 3%;
}

h2 {
  font-size: 2.3em;
  font-family: Helvetica;
  color: white;
}

h3 {
  font-size: 1.8em;
  color: white;
}

input[type='checkbox'] {
  font-size: 2.5em;
}

.edit_info {
  margin-left: 5%;
}


a {
  color: #2E7D32;
}

label, input {
  font-family: Helvetica;
  font-size: 1.5em;

}

#info_heading {
  color: white;
margin-top: 5%;
}

.header {
  width: 100%;
  position: fixed;
}

.header a {
  font-size: 2em;
  float: right;
  margin-right: 5%;
}

#co_tools {
  color: white;
}

#company_tools_table {
  color: white;
  background: url("./assets/hexabump.png");

}

#company_tools_table td {
  color: white;
  border: 5px solid white;
  background: url("./assets/hexabump.png");


}

#checked_out_heading {
  color: white;
}

#company_tools_table th {
  color: white;
  border: 5px solid white;
  background: url("./assets/hexabump.png");

}

#checked_out_tools {
  color: white;
  background: url("./assets/hexabump.png");

}

#checked_out_tools td {
  color: white;
  border: 5px solid white;
  background: url("./assets/hexabump.png");


}

#checked_out_tools th {
  color: white;
  border: 5px solid white;
  background: url("./assets/hexabump.png");
}

label {
color:white;
}
