html {
  background: url("./assets/tree_bark.png");
  font-family: Helvetica;
}

form {
  margin-top: 5%%;
}

label {
  font-family: Helvetica;
  font-size: 2em;
  color: black;
}

input {
  font-family: Helvetica;
  font-size: 0.75em;
}

table {
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  width: 50%;
}

th {
  font-family: Helvetica;
  font-size: 2em;
  color: black;
  padding-left: 3%;
  padding-right: 3%;
  border: 5px solid black;
  text-align: center;
}

td {
  font-family: Helvetica;
  font-size: 1.5em;
  color: black;
  border: 5px solid black;
}

h1 {
  font-family: Helvetica;
  color: black;
  font-size: 3em;
  margin-top: 3%;
}

h2 {
  font-size: 2.3em;
  font-family: Helvetica;
}

h3 {
  font-size: 1.8em;
}

input[type='checkbox'] {
  font-size: 2.5em;
}

.edit_info {
  margin-left: 5%;
}


a {
  color: #2E7D32;
}

label, input {
  font-family: Helvetica;
  font-size: 1.5em;
  color: black;
}

#info_heading {
margin-top: 5%;
}

.header {
  width: 100%;
  position: fixed;
}

.header a {
  font-size: 2em;
  float: right;
  margin-right: 5%;
}
