<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/index.css')%>" charset="utf-8">
    <title>Tool Tracker</title>
  </head>
  <body>
    <div id="cover">
      <%if flash[:account_deleted]%>
        <h1><%=flash[:account_deleted]%></h1><br>
        <%end%>
      <h1>Welcome to Tool Tracker,</h1>
      <h2 id="tagline">the easiest way to keep<br>track of company equipment.</h2>
      <h2><a href="/login">Log in.</a></h2>
      <h3>Don't have an account?<br><a href="/signup">Sign up</a> for one.</h3>
    </div>
  </body>
</html>
