<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="<%=url('/login.css')%>" charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="user_input">
      <h1>Log into your account:</h1>
  <form action="/home" method="post">
    <label for="username">Username: <input type="text" id="username" name="user[username]" value=""></label><br></br>
    <label for="password">Password: <input type="password" name="user[password]" id="password"></label><br></br>
    <input type="submit" id="login" name="submit" value="Log In" style="font-size:3em">
    </form>
        </div>
  </body>
</html>
